<%= @year %> 年 <%= @month %> 月
<p>
<a href="/<%= @prev_year %>/<%= @prev_month %>">先月</a> 
<a href="/">今月</a> 
<a href="/<%= @next_year %>/<%= @next_month %>">来月</a>
<p>
<a href="/<%= @year - 1 %>/<%= @month %>">去年</a> 
<a href="/<%= @year + 1 %>/<%= @month %>">来年</a>
<p>
<%= @cal_table %>
